h1 {
    color:rgb(0, 0, 0);
    text-align: end;
    background-color: rgb(93, 123, 180);
}
* {
    direction: ltr;
    font-family: Garamond, Verdana, 'Times New Roman', serif;
    background-color: rgb(224, 224, 222);
}
.inpage-link {
    font-size: 18px;
}
li {
    font-size: 18px;
    line-height: 2;
}
img {
    height: auto;
    width: 400px;
    
}
a:link {
  color:rgb(250, 71, 71) ; 
}
a:visited {
    color: rgb(73, 2, 2);
}
.description {
    
    font-size: 18px;
}
h3 {
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
}
.tags {
    background-color:cornflowerblue;
}