* {
    direction: ltr;
    font-family: Garamond, Verdana, 'Times New Roman', serif;
    background-color: rgb(224, 224, 222);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'header  tags'
        'image description '
        'ingredients  methods'; 
    gap: 15px;
}

@media screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            'header tags'
            'image image'
            'description  description'
            'ingredients ingredients'
            'methods methods';   
        gap: 15px;      
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        '.. header  tags ..'
        '.. image  description  ..'
        '.. ingredients  methods ..';    
        gap: 15px; 
    }
}

img {
    width: 20em;
    height: auto;
    grid-area: image;
}

h1 {
    grid-area: header;
}

.description {
    grid-area: description;
}

.ingredients {
    grid-area: ingredients;
}

.methods {
    grid-area: methods;
}

.tags {
    grid-area: tags;
    justify-self: end;
    align-self: center;
    text-align: end;
    
}

.inpage-link {
    padding: 5px;
    box-sizing:border-box;
    height:30px;
    display: block;
}

a {
    text-decoration: none; 
}
 
a:link {
     color:brown;
}
 
a:visited {
     color:rgb(189, 50, 50)
}
 
a:hover {
     color:aliceblue;    
     font-size: larger;
     transition: 0.2s;
}



